@section VendorCSS {
    <link rel="stylesheet" href="~/vendor/bootstrap-multiselect/bootstrap-multiselect.css">
    <link rel="stylesheet" href="~/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="~/vendor/bootstrap-colorpicker/css/bootstrap-colorpicker.css" />
    <link rel="stylesheet" href="~/vendor/multi-select/css/multi-select.css">
    <link rel="stylesheet" href="~/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css">
    <link rel="stylesheet" href="~/vendor/nouislider/nouislider.min.css" />
    <link rel="stylesheet" href="~/vendor/select2/select2.css" />
    <link rel="stylesheet" href="~/vendor/jquery-datatable/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/vendor/jquery-datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css">
    <link rel="stylesheet" href="~/vendor/jquery-datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> <!-- Thêm Font Awesome CSS -->

    <style>
        .demo-card label {
            display: block;
            position: relative;
        }

        .demo-card .col-lg-4 {
            margin-bottom: 30px;
        }
    </style>
}
@{
    ViewData["Title"] = "Account Control";
}
<div class="table-responsive myTable">
    <table class="table table-hover m-b-0 " id="myTable">
        <thead>
            <tr>
                <th>UserName</th>
                <th>Fullname</th>
                <th>Email</th>
                <th>Resetpass</th>
                <th>Account control</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (UserApp userApp in Model)
                {
                    <tr>
                        <td>@userApp.UserName</td>
                        <td>@userApp.Fullname</td>
                        <td>@userApp.Email</td>
                        <td>
                            <a style="cursor:pointer" onclick="reset('@userApp.Id')"><i class="fas fa-redo"></i></a>
                        </td>

                        <td>
                            @if (userApp.isActive == 1) // Assuming 1 means active
                            {
                                <a style="cursor:pointer" onclick="deactivate('@userApp.Id')">
                                    <i class="fas fa-lock"></i> <!-- Icon khóa -->
                                </a>
                            }
                            else if (userApp.isActive == 0) // Assuming 0 means inactive
                            {
                                <a style="cursor:pointer" onclick="reactivate('@userApp.Id')">
                                    <i class="fas fa-unlock"></i> <!-- Icon mở khóa -->
                                </a>
                            }
                        </td>


                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    function reset(id) {
        var param = {
            "UserappId": id
        }
        $.ajax({
            url: '/UserManager/ResetPassord',
            dataType: 'html',
            type: "POST",
            data: param,
            success: function (data, status, xhr) {
                if (data == "true") {
                    alert("Reset mật khẩu thành công!");
                    window.location.reload();
                }
                else {
                    alert("Thất bại!");
                }
            },
            error: function (xhr, status, error) {
                alert(status);
            }
        });
    }

    function deactivate(id) {
        var param = {
            "userId": id
        }
        $.ajax({
            url: '/UserManager/DeactivateUser',
            dataType: 'json',
            type: "POST",
            data: param,
            success: function (response) {
                if (response.success) {
                    alert(response.message);
                    window.location.reload();
                } else {
                    alert(response.message);
                }
            },
            error: function (xhr, status, error) {
                alert("An error occurred while deactivating the user.");
            }
        });
    }

    function reactivate(id) {
        var param = {
            "userId": id
        }
        $.ajax({
            url: '/UserManager/ReactivateUser',
            dataType: 'json',
            type: "POST",
            data: param,
            success: function (response) {
                if (response.success) {
                    alert(response.message);
                    window.location.reload();
                } else {
                    alert(response.message);
                }
            },
            error: function (xhr, status, error) {
                alert("An error occurred while reactivating the user.");
            }
        });
    }
</script>

@section Scripts {
    <script src="~/vendor/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script> <!-- Bootstrap Colorpicker Js -->
    <script src="~/vendor/jquery-inputmask/jquery.inputmask.bundle.js"></script> <!-- Input Mask Plugin Js -->
    <script src="~/vendor/jquery.maskedinput/jquery.maskedinput.min.js"></script>
    <script src="~/vendor/multi-select/js/jquery.multi-select.js"></script> <!-- Multi Select Plugin Js -->
    <script src="~/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
    <script src="~/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js"></script> <!-- Bootstrap Tags Input Plugin Js -->
    <script src="~/vendor/nouislider/nouislider.js"></script> <!-- noUISlider Plugin Js -->

    <script src="~/vendor/select2/select2.min.js"></script> <!-- Select2 Js -->

    <script src="~/bundles/mainscripts.bundle.js"></script>
    <script src="~/js/pages/forms/advanced-form-elements.js"></script>
    <script src="~/bundles/knob.bundle.js"></script> <!-- Jquery Knob-->
    <script src="~/js/widgets/infobox/infobox-1.js"></script>

    <script src="~/bundles/datatablescripts.bundle.js"></script>
    <script src="~/vendor/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
    <script src="~/vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
    <script src="~/vendor/jquery-datatable/buttons/buttons.colVis.min.js"></script>
    <script src="~/vendor/jquery-datatable/buttons/buttons.html5.min.js"></script>
    <script src="~/vendor/jquery-datatable/buttons/buttons.print.min.js"></script>
    <script src="~/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js -->
    <script src="~/js/pages/tables/jquery-datatable.js"></script>
}
<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            ordering: false
        });
    });
</script>
