@{
    ViewData["Title"] = "Thông tin người dùng";
    ViewData["MainMenu"] = "Quản ly người dùng";

}
@section VendorCSS {
    <link rel="stylesheet" href="~/vendor/bootstrap-multiselect/bootstrap-multiselect.css">
    <link rel="stylesheet" href="~/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="~/vendor/bootstrap-colorpicker/css/bootstrap-colorpicker.css" />
    <link rel="stylesheet" href="~/vendor/multi-select/css/multi-select.css">
    <link rel="stylesheet" href="~/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css">
    <link rel="stylesheet" href="~/vendor/nouislider/nouislider.min.css" />
    <link rel="stylesheet" href="~/vendor/select2/select2.css" />

    <style>
        .demo-card label {
            display: block;
            position: relative;
        }

        .demo-card .col-lg-4 {
            margin-bottom: 30px;
        }
    </style>
}


<div class="col-lg-12 col-md-12">
    <div class="card planned_task">
        <div class="header header2">
            <h2>DANH SÁCH USER APP</h2>
        </div>
        <div class="body">

            <div class="table-responsive table-hover m-b-0 c_list myTable">
                <table class="table m-b-0 table-striped table-hover" id="myTable">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>User name</th>
                            <th>
                                Full name
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Phone
                            </th>
                            <th>
                                Balance
                            </th>
                            <th>
                                Flatform
                            </th>
                            <th>
                                Ngày tạo
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (UserApp item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>
                                        <p class="c_name">@item.UserName</p>
                                    </td>
                                    <td>@item.Fullname</td>
                                    <td>@item.Email</td>
                                    <td>
                                        @item.Phone
                                    </td>
                                    <td>
                                        @item.Balance.ToString("#,##0")
                                    </td>
                                    <td>
                                        @item.Platform
                                    </td>
                                    <td>
                                        @item.CreateDate.ToShortDateString()
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<!-- Input Slider -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12" style="display:none">
        <div class="card">

            <div class="body">
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-12">
                        <div id="nouislider_basic_example"></div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div id="nouislider_range_example"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

<script src="~/vendor/jquery/jquery-3.3.1.min.js"></script>
@section Scripts {
    <script src="~/vendor/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script> <!-- Bootstrap Colorpicker Js -->
    <script src="~/vendor/jquery-inputmask/jquery.inputmask.bundle.js"></script> <!-- Input Mask Plugin Js -->
    <script src="~/vendor/jquery.maskedinput/jquery.maskedinput.min.js"></script>
    <script src="~/vendor/multi-select/js/jquery.multi-select.js"></script> <!-- Multi Select Plugin Js -->
    <script src="~/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
    <script src="~/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js"></script> <!-- Bootstrap Tags Input Plugin Js -->
    <script src="~/vendor/nouislider/nouislider.js"></script> <!-- noUISlider Plugin Js -->

    <script src="~/vendor/select2/select2.min.js"></script> <!-- Select2 Js -->

    <script src="~/bundles/mainscripts.bundle.js"></script>
    <script src="~/js/pages/forms/advanced-form-elements.js"></script>
    <script src="~/bundles/knob.bundle.js"></script> <!-- Jquery Knob-->
    <script src="~/js/widgets/infobox/infobox-1.js"></script>

    <script src="~/bundles/datatablescripts.bundle.js"></script>
    <script src="~/vendor/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
    <script src="~/vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
    <script src="~/vendor/jquery-datatable/buttons/buttons.colVis.min.js"></script>
    <script src="~/vendor/jquery-datatable/buttons/buttons.html5.min.js"></script>
    <script src="~/vendor/jquery-datatable/buttons/buttons.print.min.js"></script>
    <script src="~/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js -->
    <script src="~/js/pages/tables/jquery-datatable.js"></script>

    <script>
        $(function () {
            // photo upload
            $('#btn-upload-photo').on('click', function () {
                $(this).siblings('#fileUpload').trigger('click');
            });

            $('#filePhotoAvatar').on('click', function () {
                $('#fileUpload').trigger('click');
            });



            // plans
            $('.btn-choose-plan').on('click', function () {
                $('.plan').removeClass('selected-plan');
                $('.plan-title span').find('i').remove();

                $(this).parent().addClass('selected-plan');
                $(this).parent().find('.plan-title').append('<span><i class="fa fa-check-circle"></i></span>');
            });
        });
    </script>
    <script>
        $(function () {
            $(".myTable").on("click", ".table tbody button.edit", function (e) {
                window.location.href = $(this).data("href");

            });
            $(".myTable").on("click", ".table tbody button.delete", function (e) {
                let text;
                if (confirm("Delete Data!") == true) {
                    window.location.href = $(this).data("href");
                }
            });
        });

    </script>
    <script>

        function ChangeImg() {
            uploadFiles('fileUpload')
        }
        var fileimg = "";
        function uploadFiles(inputId) {
            var input = document.getElementById(inputId); //get file input id
            var files = input.files; //get files
            var formData = new FormData(); //create form

            for (var i = 0; i != files.length; i++) {
                formData.append("files", files[i]); //loop through all files and append
            }
            $.ajax(
                {
                    url: "/UserManager/AjaxUpload",
                    data: formData, // send it as formData
                    processData: false,
                    contentType: false,
                    async: false,
                    type: "POST", //type is post as we will need to post files
                    success: function (data) {
                        //$(".product_main_imgbox").show();
                        $("#filePhotoAvatar").attr("src", "/images/Customer/" + data);
                        //fileimg = data;
                        $("#Images").val(data).change();
                    }
                }
            );

        }


    </script>
}
<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            ordering: false,
            "pageLength": 50 // Số dòng hiển thị mặc định
        });
    });
</script>