@model IEnumerable<FocusEV.OCPP.Management.Models.MonthlyRevenueData>

@{
    ViewData["Title"] = "Monthly Revenue Statistics";
}

<div class="container-fluid mt-4">
    <form method="get" asp-controller="Revenue" asp-action="MonthlyRevenue" class="form-inline mb-4">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6 ml-5">
                    <div class="form-group">
                        <label for="year">Year</label>
                        <select id="year" name="year" class="form-control form-control-lg ml-3">
                            @for (int i = 2020; i <= DateTime.Now.Year; i++)
                            {
                                if (ViewBag.Year != null && ViewBag.Year == i)
                                {
                                    <option value="@i" selected>@i </option>
                                }
                                else
                                {
                                    <option value="@i">@i</option>
                                }
                            }
                        </select>
                       
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 align-self-end">
                    <button type="submit" class="btn btn-primary btn-lg mb-2">Submit</button>
                </div>
            </div>
        </div>
    </form>

    <div class="row">
        @if (Model.Any())
        {
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card shadow-sm">
                        <div class="card-header" style="background-color: mediumseagreen; border-radius:12px">
                            <h5 class="card-title text-bold text-center" style="color:black;font-family:'Times New Roman'">
                                <i class="bi bi-calendar-month"></i> @item.MonthNameFormatted  @item.MonthNumber
                            </h5>
                       </div>
                        <div class="card-body" style="background-color: white">


                            <p class="card-text text-center " style="font-size: 18px; color:black ; font-family:'Times New Roman'">
                                <i class="bi bi-cash-stack" ></i> @item.TotalRevenue
                            </p>
                        </div>

                    </div>
                </div>
            }
        }
        else
        {
            <div class="col-12">
                <div class="alert alert-info text-center">
                    No data available for the selected year.
                </div>
            </div>
        }
    </div>
</div>

<!-- Include Bootstrap Icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.3/font/bootstrap-icons.min.css">
